footer {
	background: #2F324B;
}

.footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding-top: 25px;
}

.footer-logo {
	margin-left: 16px;
	background-image: url(../../images/logo.svg);
	min-width: 30px;
	min-height: 30px;
	background-repeat: no-repeat;
	background-size: 30px auto;
}

.footer-company {
	margin-left: 20px;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.footer-company span {
	font-weight: 500;
	line-height: 11px;
	font-size: 8px;
	color: #ffffff;
	display: block;
	width: 90px;
}

.footer-phone {
	margin-right: 16px;
	background-image: url(../../images/phone.svg);
	min-width: 24px;
	min-height: 24px;
	background-repeat: no-repeat;
	background-size: 24px auto;
	cursor: pointer;
}

.footer-phone:active {
	min-width: 30px;
	min-height: 30px;
	background-size: 30px auto;
}

.footer-websurfer {
	margin-top: 25px;
	padding: 16px;
	-ms-flex-preferred-size: 100%;
	flex-basis: 100%;
	background: #2A2C3F;
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.footer-websurfer_build {
	font-weight: 500;
	line-height: 17px;
	font-size: 12px;
	color: #ffffff;
	opacity: 0.5;
}

.footer-websurfer_logo {
	background-image: url(../../images/logo-ws.svg);
	margin-left: 8px;
	min-width: 120px;
	min-height: 18px;
	background-repeat: no-repeat;
	background-size: 120px auto;
	opacity: 0.5;
}

.footer-websurfer:hover .footer-websurfer_build, .footer-websurfer:hover .footer-websurfer_logo, .footer-websurfer :active .footer-websurfer_build, .footer-websurfer :active .footer-websurfer_logo {
	opacity: 1;
}

.footer-phonelink {
	display: none;
}

@media (min-width: 576px) {
	.footer-logo {
		min-width: 45px;
		min-height: 45px;
		background-size: 45px auto;
	}

	.footer-phone {
		min-width: 40px;
		min-height: 40px;
		background-size: 40px auto;
	}

	.footer-phone:hover, .footer-phone:active {
		min-width: 45px;
		min-height: 45px;
		background-size: 45px auto;
	}

	.footer-company span {
		font-size: 10px;
		width: 110px;
	}

	.footer-websurfer_build {
		line-height: 21px;
		font-size: 12px;
	}

	.footer-websurfer_logo {
		min-width: 120px;
		min-height: 18px;
		background-size: 120px auto;
	}
}

@media (min-width: 768px) {
	.footer {
		padding: 30px;
	}

	.footer-logo {
		margin-left: 0;
	}

	.footer-phonelink {
		display: block;
	}

	.footer-phonelink a {
		font-size: 18px;
		color: #ffffff;
		text-decoration: none;
	}

	.footer-phone {
		display: none;
	}

	.footer-websurfer {
		-ms-flex-preferred-size: auto;
		flex-basis: auto;
		-webkit-box-flex: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
		background: none;
		margin-top: 0;
	}

	.footer-company {
		-webkit-box-flex: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
	}
}

@media (min-width: 992px) {
	.footer {
		padding: 49px;
	}

	.footer-logo {
		min-width: 60px;
		min-height: 60px;
		background-size: 60px auto;
	}

	.footer-phonelink {
		display: block;
	}

	.footer-phonelink a {
		font-size: 21px;
	}
}

@media (min-width: 1200px) {
	.footer {
		padding: 45px;
	}

	.footer-company span {
		font-size: 12px;
		width: 130px;
	}

	.footer-phonelink a {
		font-size: 24px;
	}
}
