.wrapper {
	margin-right: auto;
	margin-left: auto;
	padding: 0 15px;
	height: 100%;
}

@media (min-width: 576px) {
	.wrapper {
		max-width: 540px;
	}
}

@media (min-width: 768px) {
	.wrapper {
		max-width: 720px;
	}
}

@media (min-width: 992px) {
	.wrapper {
		max-width: 960px;
	}
}

@media (min-width: 1200px) {
	.wrapper {
		max-width: 1140px;
	}
}

.btn {
	cursor: pointer;
	margin: 0 auto;
	background: #15A9CB;
	-webkit-box-shadow: 0 4px 25px rgba(21, 169, 203, 0.3);
	box-shadow: 0 4px 25px rgba(21, 169, 203, 0.3);
	border-radius: 50px;
	outline: none;
	border: transparent;
}

.btn span {
	font-family: Roboto, sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: #FFFFFF;
}

.btn:hover, .btn:active {
	background-color: #ea5634;
	-webkit-box-shadow: 0 4px 25px rgba(234, 86, 52, 0.3);
	box-shadow: 0 4px 25px rgba(234, 86, 52, 0.3);
}

@media (min-width: 576px) {
	.btn span {
		font-size: 18px;
	}
}



main {
	position: relative;
	background: #E6E3DE url(../../images/main-bg-600.webp) no-repeat top left;
	background-size: cover;
	z-index: 1;
	padding: 110px 0 60px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
}

main:before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(47, 50, 75, 0.85);
	z-index: -1;
}

@media (min-width: 576px) {
	main {
		background: #E6E3DE url(../../images/main-bg-1024.webp) no-repeat top left;
	}
}

@media (min-width: 992px) {
	main {
		background: #E6E3DE url(../../images/main-bg-1600.webp) no-repeat top left;
	}
}

.main {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	height: 100%;
}

.main-head {
	margin: 0;
	font-weight: 900;
	font-size: 20px;
	color: rgba(255, 255, 255, 0.86);
}

.main-small {
	margin: 25px 0 0;
	font-weight: 400;
	line-height: 20px;
	font-size: 14px;
	color: rgba(255, 255, 255, 0.75);
}

.main-btn {
	padding: 9px 29px;
	margin: 60px auto 0;
}

.no-webp main {
	background: #E6E3DE url(../../images/main-bg-600.jpg) no-repeat top left;
	background-size: cover;
}

@media (min-width: 576px) {
	.no-webp main {
		background: #E6E3DE url(../../images/main-bg-1024.jpg) no-repeat top left;
	}
}

@media (min-width: 992px) {
	.no-webp main {
		background: #E6E3DE url(../../images/main-bg-1600.jpg) no-repeat top left;
	}
}

@media (min-width: 576px) {
	.main-head {
		font-size: 30px;
		padding: 0 80px;
	}

	.main-small {
		font-size: 16px;
		padding: 0 60px;
	}

	.main-btn {
		padding: 11px 39px;
	}
}

@media (min-width: 768px) {
	main {
		padding: 130px 0 80px;
	}

	.main-head {
		font-size: 36px;
		padding: 0 90px;
	}

	.main-small {
		font-size: 16px;
		padding: 0 80px;
		max-width: 750px;
		margin: 27px auto 0;
	}

	.main-btn {
		padding: 11px 39px;
	}
}

@media (min-width: 992px) {
	main {
		padding: 160px 0 80px;
	}

	.main-head {
		font-size: 40px;
	}

	.main-small {
		font-size: 18px;
	}

	.main-btn {
		padding: 12px 49px;
	}

	.main-btn span {
		font-size: 20px;
	}
}

@media (min-width: 1200px) {
	main {
		padding: 222px 0 146px;
	}

	.main-head {
		font-size: 52px;
	}

	.main-small {
		font-size: 22px;
		line-height: 31px;
	}
}